name: Run Cypress Tests

on:
  workflow_dispatch:
    inputs:
      test_type:
        description: 'Selecione o tipo de teste a ser executado'
        required: true
        default: 'api'
        type: choice
        options:
          - api
          - e2e

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout o código
      - name: Checkout Code
        uses: actions/checkout@v2

      # Step 2: Configurar o Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      # Step 3: Instalar dependências
      - name: Install Dependencies
        run: |
          npm install

      # Step 4: Rodar testes com Cypress
      - name: Run Cypress Tests
        env:
          CYPRESS_API_KEY: ${{ secrets.CYPRESS_API_KEY }} # Exemplo para variáveis de ambiente
        run: |
          if [ "${{ github.event.inputs.test_type }}" == "api" ]; then
            npm run cy-api:run  # Comando para testes de API
          else
            npm run cy-e2e:run  # Comando para testes E2E
          fi
      - name: Save Allure Results as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: allure-results

  generate-report:
    needs: run-tests  # Garante execução após os testes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Download Allure Results Artifact
        uses: actions/download-artifact@v3
        with:
          name: allure-results
          path: ./allure-results


      - name: Install Allure
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-11-jre-headless  # Necessário para o Allure
          npm install -g allure-commandline --save-dev

      - name: Generate Allure Report
        run: |
          if [ "${{ github.event.inputs.test_type }}" == "api" ]; then
            allure generate ./allure-results --clean -o allure-report/api
          else
            allure generate ./allure-results --clean -o allure-report/e2e
          fi

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          commit_message: 'Deploy Allure Report'
