name: Run Cypress Tests

on:
  workflow_dispatch:
    inputs:
      test_type:
        description: 'Selecione o tipo de teste a ser executado'
        required: true
        default: 'api'
        type: choice
        options:
          - api
          - e2e

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout o código
      - name: Checkout Code
        uses: actions/checkout@v2

      # Step 2: Configurar o Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      # Step 3: Instalar dependências
      - name: Install Dependencies
        run: |
          npm install

      # Step 4: Rodar testes com Cypress
      - name: Run Cypress Tests
        env:
          CYPRESS_API_KEY: ${{ secrets.CYPRESS_API_KEY }} # Exemplo para variáveis de ambiente
        run: |
          if [ "${{ github.event.inputs.test_type }}" == "api" ]; then
            npm run cy-api:run  # Comando para testes de API
          else
            npm run cy-e2e:run  # Comando para testes E2E
          fi

  generate-report:
    needs: run-tests  # Garante execução após os testes
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout o código novamente (caso necessário)
      - name: Checkout Code
        uses: actions/checkout@v2

      # Step 2: Instalar o Allure
      - name: Install Allure
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-11-jre-headless  # Necessário para o Allure
          npm install -g allure-commandline --save-dev

      - name: Generate E2E Allure Report
        if: inputs.test_type == 'e2e'
        run: allure generate allure-results --clean -o allure-report/e2e

      - name: Generate API Allure Report
        if: inputs.test_type == 'api'
        run: allure generate allure-results --clean -o allure-report/api

      # Step 4 (Opcional): Fazer deploy do relatório no GitHub Pages
      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          target_branch: gh-pages  # A branch onde será feito o upload
          commit_message: 'Deploy Allure Report'
